
assets/img/avatar.jpg
assets/img/blog-post-3.jpg
assets/img/home-sbg.jpg
assets/img/mde.jpg
assets/img/portfolio/portfolio-details-1.jpg
assets/img/portfolio/portfolio-details-2.jpg
assets/scss/Readme.txt
forms/contact.php
forms/Readme.txt
